/**
 * Variables
 */
:root {
	/* colours */
	--primary: #11c6de;
	--secondary: #40d865;
	--tertiary: #df1212;

	--bg-primary: black;

	--fg-primary: hsl(0, 0%, 5%);

	/* transition durations */
	--dur-btn: 0.25s;
	--dur-input: 0.5s;
	--dur-fade: 0.5s;
}

/**
 * General styling
 */
body {
	color: var(--primary);
	background-color: var(--bg-primary);
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 60%;
	margin: auto;
}

.content {
	width: 100%;
	margin: 1% auto;
	padding: 20px;
	background-color: var(--fg-primary);
	border-radius: 4px;
}

.content-narrow {
	width: 50%;
}

.hidden-scrollbars {
	overflow: hidden;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.space-between {
	justify-content: space-between;
}

.col-33 {
	flex: 1 1 33.3333333%;
}

.col-20 {
	flex: 1 1 20%;
}

.col-start {
	text-align: left;
	align-self: flex-start;
}

.col-centre {
	text-align: center;
	align-self: center;
}

.col-end {
	text-align: right;
	align-self: flex-end;
}

.led {
	border-radius: 50%;
	border: 0;
}

.led-sm {
	height: 15px;
	width: 15px;
}

.led-green {
	background-image: radial-gradient(circle, lime, #40d865);
	box-shadow: 0 0 20px 5px #40d865;
}

.led-red {
	background-image: radial-gradient(circle, red, #df1212);
	box-shadow: 0 20px 5px #df1212;
}

/**
 * Tables
 */
.table-responsive {
	width: 100%;
	overflow: auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table tbody th {
	text-align: left;
}

.table tbody td {
	text-align: right;
}

.table th, td {
	padding: 10px
}

.table tbody tr {
	border-bottom: 1px solid var(--bg-primary);
}

.table tbody tr:first-child {
	border-top: 1px solid var(--bg-primary);
}

/**
 * Buttons
 */
.btn {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 10px;
	background-color: var(--bg-primary);
	transition: color, background-color var(--dur-btn);
}

.btn:hover {
	color: var(--bg-primary);
	cursor: pointer;
}

.btn-primary {
	color: var(--primary);
	border-color: var(--primary);
}

.btn-primary:hover {
	background-color: var(--primary);
}


.btn-secondary {
	color: var(--secondary);
	border-color: var(--secondary);
}

.btn-secondary:hover {
	background-color: var(--secondary);
}

.btn-tertiary {
	color: var(--tertiary);
	border-color: var(--tertiary);
}

.btn-tertiary:hover {
	background-color: var(--tertiary);
}

/**
 * Forms
 */
.input-group {
	margin: 15px 0;
}

.input-group > input, select {
	width: 90%;
}

.input-group > label {
	transition: color var(--dur-input);
}

.input-group:focus-within > label {
	color: var(--secondary);
}

.input {
	border: 0;
	outline: none;
	color: var(--primary);
	background-color: transparent;
	padding: 5px 10px;
	border-bottom: 1px solid var(--primary);
	transition: color, border-bottom-color var(--dur-input);
}

.input:focus {
	color: var(--secondary);
	border-bottom-color: var(--secondary);
}

/**
 * Images
 */
.img {
	display: block;
	border: 1px solid var(--primary);
	border-radius: 4px;
	object-fit: cover;
}

.img-lg {
	height: 300px;
	width: 500px;
}

/**
 * Animations and transitions
 */
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity var(--dur-fade);
}

.slide-from-top-enter, .slide-from-top-leave-to {
	transform: translateY(-100%);
	opacity: 0;
}

.slide-from-top-enter-active, .slide-from-top-leave-active {
	transition: all var(--dur-fade);
}
