/**
 * Variables
 */
:root {
	/* colours */
	--primary: #11c6de;
	--green: #40d865;
	--red: #df1212;
	--link: hsl(170, 100%, 50%);

	--input-focus-colour: #ccc;

	--bg-primary: black;

	--fg-primary: hsl(0, 0%, 9%);

	/* transition durations */
	--dur-btn: 0.25s;
	--dur-input: 0.5s;
	--dur-fade: 0.5s;
}

/**
 * General styling
 */
body {
	color: var(--primary);
	background-color: var(--bg-primary);
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary);
}

.container {
	margin: auto;
}

.content {
	width: 100%;
	margin: 1% auto;
	background-color: var(--fg-primary);
	border-radius: 4px;
	padding: 20px 0;
	box-sizing: border-box;
}

.content-body {
	padding: 0 20px;
}

.content-narrow {
	width: 50%;
}

.hidden-scrollbars {
	overflow: hidden;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.space-between {
	justify-content: space-between;
}

.col-33 {
	flex: 1 1 33.3333333%;
}

.col-20 {
	flex: 1 1 20%;
}

.col-50 {
	flex: 1 1 50%;
}

.col-start {
	text-align: left;
	align-self: flex-start;
}

.col-centre {
	text-align: center;
	align-self: center;
}

.col-end {
	text-align: right;
	align-self: flex-end;
}

.led {
	border-radius: 50%;
	border: 0;
	display: inline-block;
}

.led-sm {
	height: 15px;
	width: 15px;
}

.led-green {
	background-image: radial-gradient(circle, lime, #40d865);
	box-shadow: 0 0 10px 1px #40d865;
}

.led-red {
	background-image: radial-gradient(circle, red, #df1212);
	box-shadow: 0 0 10px 1px #df1212;
}

/**
 * Tables
 */
.table-responsive {
	width: 100%;
	overflow-x: auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

.table th {
	color: var(--primary);
}

.table-td-right td {
	text-align: right;
}

.table th, td {
	padding: 10px
}

.table tbody tr {
	border-bottom: 1px solid var(--bg-primary);
}

.table tbody tr:first-child {
	border-top: 1px solid var(--bg-primary);
}

.table-td-centre td {
	text-align: center;
}

.table-striped tbody tr:nth-child(odd) {
	background-color: var(--fg-primary);
}

.table-striped tbody tr:nth-child(even) {
	background-color: var(--bg-primary);
}

.table-hover tbody > tr:hover {
	background-color: hsla(0, 0%, 100%, 0.05);
}

/**
 * Buttons
 */
.btn {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 10px;
	background-color: var(--bg-primary);
	transition: color, background-color var(--dur-btn);
}

.btn:hover {
	color: var(--bg-primary);
	cursor: pointer;
}

.btn-primary {
	color: var(--primary);
	border-color: var(--primary);
}

.btn-primary:hover {
	background-color: var(--primary);
}

.btn-green {
	color: var(--green);
	border-color: var(--green);
}

.btn-green:hover {
	background-color: var(--green);
}

.btn-red {
	color: var(--red);
	border-color: var(--red);
}

.btn-red:hover {
	background-color: var(--red);
}

.btn-borderless {
	border: 0;
	color: var(--primary);
	background-color: transparent;
}

.btn-borderless:hover {
	color: var(--primary);
}

/**
 * Forms
 */
.input-group {
	margin: 15px 0;
}

.input-group input, select {
	width: 90%;
}

.input-group label {
	transition: color var(--dur-input);
}

.input-group:focus-within label {
	color: var(--input-focus-colour);
}

.input {
	border: 0;
	outline: none;
	color: var(--primary);
	background-color: transparent;
	padding: 5px 10px;
	border-bottom: 1px solid var(--primary);
	transition: color, border-bottom-color var(--dur-input);
}

.input:focus {
	color: var(--input-focus-colour);
	border-bottom-color: var(--input-focus-colour);
}

/**
 * Images
 */
.img {
	display: block;
	border: 1px solid var(--primary);
	border-radius: 4px;
	object-fit: cover;
}

.img-sm {
	height: 150px;
	width: 250px;
}

.img-lg {
	height: 300px;
	width: 500px;
}

/**
 * Links
 */
.link {
	color: var(--link);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.link:visited {
	color: var(--link);
}

/**
 * Animations and transitions
 */
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity var(--dur-fade);
}

.slide-from-top-enter, .slide-from-top-leave-to {
	transform: translateY(-100%);
	opacity: 0;
}

.slide-from-top-enter-active, .slide-from-top-leave-active {
	transition: all var(--dur-fade);
}

/**
 * Responsive breakpoints
 */
@media only screen and (min-width: 1px) {
	.container {
		width: 100%;
	}
}

@media only screen and (min-width: 900px) {
	.container {
		width: 80%;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		width: 60%;
	}
}
